<footer class="footer">
    <div class="row">
        <div class="col col-md-4">
            <img src="../../assets/logo.png" alt="" class="log">
            <p>Tempora dolorem voluptatum nam vero assumenda voluptate, facilis ad eos obcaecati tenetur veritatis eveniet distinctio possimus.</p>
            <div class="icons">
                <i class="fa-brands fa-facebook" ></i>
                <i class="fa-brands fa-twitter" ></i>
                <i class="fa-brands fa-linkedin" ></i>
            </div>
        </div>
        <div class="col col-md-2">
            <h3>Department <div class="underline"><span></span></div></h3>
            <a>Surgery</a><br><br>
            <a>Wome's Health</a><br><br>
            <a>Radiology</a><br><br>
            <a>Cardioc</a><br><br>
            <a>Medicine</a><br><br>
        </div>
        <div class="col col-md-2" >
            <h3>Support <div class="underline"><span></span></div></h3>
            <a>Terms & Condition</a><br><br>
            <a>Privacy Policy</a><br><br>
            <a>Company Support</a><br><br>
            <a>FAQuestions</a><br><br>
            <a>Company Licennce</a><br><br>

        </div>
        <div class="col col-md-2">
            <h3>Get In Touch <div class="underline"><span></span></div></h3>
            <i class="fa-solid fa-envelope"></i><label>Support Available for 24/7</label>
            <a ><h3 class="hov">Support@email.com</h3></a>
            <i class="fa-solid fa-headset"></i><label>Mon to Fri : 08:30 - 18:00</label>
            <a ><h3 class="hov">+23-456-6589</h3></a>
        </div>


    </div>
    <div class="footer-end col-md-6">
        <label class="last-label">© Copyright Reserved to Novena by <a href=""><span class="span-1">Themefisher</span></a></label>
    
    </div>

     <form action="#" class="subscribe">
        <input type="text" placeholder="Your Email address" class="input-last"><button class="btn-last">SUBSCRIBE</button>
    </form>
    <div class="end">
        <label class="">Distributed by<a href=""><span class="span-1">Themewagon</span></a></label>
    
    </div>


</footer>