.page-title{
    background-image: url(../../assets/appointmentBanner1.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 400px;
    color: white;
}
.banner{
    margin-top: -20px;
}
.page-title .row{
    background: #223A66;
    opacity: 80%;
    height: 400px;
    width: 100%;
}
.block{
    margin-top: 130px;
}
.block .text-white{
    font-size: 20px;
}
.block .text-capitalize{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}






.appoinment{
    margin-top: 100px;
    margin-bottom: 100px;
}
.appoinment-content .emergency {
    position: absolute;
    width: 80.5%;
    /* content: ""; */
    /* right: 10px; */
    bottom: 20px;
    background: #223a66;
    padding: 48px;
}
.appoinment-content .emergency h2 {
    color: #fff;
}
.appoinment-content img {
    width: 85%;
}
.img-fluid1 {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}
/* img {
    vertical-align: middle;
    border-style: none;
} */

.text-lg {
    font-size: 50px;
}
.btn-round-full {
    border-radius: 50px;
}

.btn-main {
    background: #223a66;
    color: #fff;
    border-color: #223a66;
    margin-top: 20px;
    padding: 15px;
    width: 200px;
}
.btn-main:hover{
    background: #e12454;
    background-color: #e12454;
}