<div class="banner">
  <section class="page-title bg-1">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">All Doctors</span>
          <h1 class="text-capitalize mb-5">Specialized Doctors</h1>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="section doctors">
  <div class="container">
    <div class="row justify-content-center">
      <div class="text-center">
        <div class="section-title">
          <h2>Doctors</h2>
          <div class="divider mx-auto my-4"></div>
          <p>
            We provide a wide range of creative services adipisicing elit. Autem
            maxime rem modi eaque, voluptate. Beatae officiis neque
          </p>
        </div>
      </div>
    </div>

    <!-- <div class="col-12 text-center mb-5">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn active">
          <input
            type="radio"
            name="shuffle-filter"
            value="all"
            checked="checked"
          />All Department
        </label>
        <label class="btn">
          <input type="radio" name="shuffle-filter" value="cat1" />Cardiology
        </label>
        <label class="btn">
          <input type="radio" name="shuffle-filter" value="cat2" />Dental
        </label>
        <label class="btn">
          <input type="radio" name="shuffle-filter" value="cat3" />Neurology
        </label>
        <label class="btn">
          <input type="radio" name="shuffle-filter" value="cat4" />Medicine
        </label>
        <label class="btn">
          <input type="radio" name="shuffle-filter" value="cat5" />Pediatric
        </label>
        <label class="btn">
          <input type="radio" name="shuffle-filter" value="cat6" />Traumatology
        </label>
      </div>
    </div> -->

    <div
      class="row shuffle-wrapper portfolio-gallery shuffle">
      <div
        class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item shuffle-item--visible"
        data-groups='["cat1","cat2"]'
      >
        <div class="position-relative doctor-inner-box">
          <div class="doctor-profile">
            <div class="doctor-img">
              <img
                src="../../assets/1.jpg"
                alt="doctor-image"
                class="img-fluid w-100"
              />
            </div>
          </div>
          <div id="content" class="content mt-3">
            <h4 class="mb-0">Thomas Henry</h4>
            <p>Cardiology</p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item shuffle-item--visible"
        data-groups='["cat2"]'
        style="
          position: absolute;
          top: 0px;
          left: 0px;
          visibility: visible;
          will-change: transform;
          opacity: 1;
          transform: translate(240px, 0px) scale(1);
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-property: transform, opacity;
        "
      >
        <div class="position-relative doctor-inner-box">
          <div class="doctor-profile">
            <div class="doctor-img">
              <img
                src="../../assets/2.jpg"
                alt="doctor-image"
                class="img-fluid w-100"
              />
            </div>
          </div>
          <div class="content mt-3">
            <h4 class="mb-0">
              Harrision Samuel
            </h4>
            <p>Radiology</p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item shuffle-item--visible"
        data-groups='["cat3"]'
        style="
          position: absolute;
          top: 0px;
          left: 0px;
          visibility: visible;
          will-change: transform;
          opacity: 1;
          transform: translate(480px, 0px) scale(1);
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-property: transform, opacity;
        "
      >
        <div class="position-relative doctor-inner-box">
          <div class="doctor-profile">
            <div class="doctor-img">
              <img
                src="../../assets/3.jpg"
                alt="doctor-image"
                class="img-fluid w-100"
              />
            </div>
          </div>
          <div class="content mt-3">
            <h4 class="mb-0">
              Alexandar James
            </h4>
            <p>Dental</p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item shuffle-item--visible"
        data-groups='["cat3","cat4"]'
        style="
          position: absolute;
          top: 0px;
          left: 0px;
          visibility: visible;
          will-change: transform;
          opacity: 1;
          transform: translate(720px, 0px) scale(1);
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-property: transform, opacity;
        "
      >
        <div class="position-relative doctor-inner-box">
          <div class="doctor-profile">
            <div class="doctor-img">
              <img
                src="../../assets/4.jpg"
                alt="doctor-image"
                class="img-fluid w-100"
              />
            </div>
          </div>
          <div class="content mt-3">
            <h4 class="mb-0">Edward john</h4>
            <p>Pediatry</p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item shuffle-item--visible"
        data-groups='["cat5"]'
        style="
          position: absolute;
          top: 0px;
          left: 0px;
          visibility: visible;
          will-change: transform;
          opacity: 1;
          transform: translate(0px, 326px) scale(1);
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-property: transform, opacity;
        "
      >
        <div class="position-relative doctor-inner-box">
          <div class="doctor-profile">
            <div class="doctor-img">
              <img
                src="../../assets/1.jpg"
                alt="doctor-image"
                class="img-fluid w-100"
              />
            </div>
          </div>
          <div class="content mt-3">
            <h4 class="mb-0">Thomas Henry</h4>
            <p>Neurology</p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item shuffle-item--visible"
        data-groups='["cat6"]'
        style="
          position: absolute;
          top: 0px;
          left: 0px;
          visibility: visible;
          will-change: transform;
          opacity: 1;
          transform: translate(240px, 326px) scale(1);
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-property: transform, opacity;
        "
      >
        <div class="position-relative doctor-inner-box">
          <div class="doctor-profile">
            <div class="doctor-img">
              <img
                src="../../assets/1.jpg"
                alt="doctor-image"
                class="img-fluid w-100"
              />
            </div>
          </div>
          <div class="content mt-3">
            <h4 class="mb-0">Henry samuel</h4>
            <p>Palmology</p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item shuffle-item--visible"
        data-groups='["cat4"]'
        style="
          position: absolute;
          top: 0px;
          left: 0px;
          visibility: visible;
          will-change: transform;
          opacity: 1;
          transform: translate(480px, 326px) scale(1);
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-property: transform, opacity;
        "
      >
        <div class="position-relative doctor-inner-box">
          <div class="doctor-profile">
            <div class="doctor-img">
              <img
                src="../../assets/2.jpg"
                alt="doctor-image"
                class="img-fluid w-100"
              />
            </div>
          </div>
          <div class="content mt-3">
            <h4 class="mb-0">
              Thomas alexandar
            </h4>
            <p>Cardiology</p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item shuffle-item--visible"
        data-groups='["cat5","cat6","cat1"]'
        style="
          position: absolute;
          top: 0px;
          left: 0px;
          visibility: visible;
          will-change: transform;
          opacity: 1;
          transform: translate(720px, 326px) scale(1);
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-property: transform, opacity;
        "
      >
        <div class="position-relative doctor-inner-box">
          <div class="doctor-profile">
            <div class="doctor-img">
              <img
                src="../../assets/3.jpg"
                alt="doctor-image"
                class="img-fluid w-100"
              />
            </div>
          </div>
          <div class="content mt-3">
            <h4 class="mb-0">
              HarissonThomas
            </h4>
            <p>Traumatology</p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item illustration shuffle-item--visible"
        data-groups='["cat2"]'
        style="
          position: absolute;
          top: 0px;
          left: 0px;
          visibility: visible;
          will-change: transform;
          opacity: 1;
          transform: translate(0px, 652px) scale(1);
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-property: transform, opacity;
        "
      >
        <div class="position-relative doctor-inner-box">
          <div class="doctor-profile">
            <div class="doctor-img">
              <img
                src="../../assets/4.jpg"
                alt="doctor-image"
                class="img-fluid w-100"
              />
            </div>
          </div>
          <div class="content mt-3">
            <h4 class="mb-0">Jonas Thomson</h4>
            <p>Cardiology</p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item shuffle-item--visible"
        data-groups='["cat5","cat6","cat1"]'
        style="
          position: absolute;
          top: 0px;
          left: 0px;
          visibility: visible;
          will-change: transform;
          opacity: 1;
          transform: translate(240px, 652px) scale(1);
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-property: transform, opacity;
        "
      >
        <div class="position-relative doctor-inner-box">
          <div class="doctor-profile">
            <div class="doctor-img">
              <img
                src="../../assets/1.jpg"
                alt="doctor-image"
                class="img-fluid w-100"
              />
            </div>
          </div>
          <div class="content mt-3">
            <h4 class="mb-0">Henry Forth</h4>
            <p>hematology</p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item illustration shuffle-item--visible"
        data-groups='["cat2"]'
        style="
          position: absolute;
          top: 0px;
          left: 0px;
          visibility: visible;
          will-change: transform;
          opacity: 1;
          transform: translate(480px, 652px) scale(1);
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-property: transform, opacity;
        "
      >
        <div class="position-relative doctor-inner-box">
          <div class="doctor-profile">
            <div class="doctor-img">
              <img
                src="../../assets/2.jpg"
                alt="doctor-image"
                class="img-fluid w-100"
              />
            </div>
          </div>
          <div class="content mt-3">
            <h4 class="mb-0">Thomas Henry</h4>
            <p>Dental</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section cta-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="cta-content">
            <div class="divider mb-4"></div>
            <h2 class="mb-5 text-lg">We are pleased to offer you the <span class="title-color">chance to have the healthy</span></h2>
            <a routerLink="/appoitment" class="btn btn-main-2 btn-round-full">Get appoinment<i class="icofont-simple-right  ml-2"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>

